<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Suite">
    <listeners>
        <listener class-name="ListenerClass"></listener>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="MainPageTest"/>
            <class name="LoginPageTest"/>
            <class name="RegisterPageTest"/>
            <class name="MainPageTest"/>
            <class name="HomePageTest"/>
            <class name="SearchTest"/>
            <class name="CartPageTest"/>
        </classes>
    </test>
</suite>